<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <ul class="nav nav-pills">
      <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="../dashboard">Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="../tithe">Tithes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../offering">Offerings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../members">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../departments">Departments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../sponsorships">Sponsorships</a>
      </li>
    </ul>
    </nav>
<h1 style="text-align: center;">Thanksgiving Records</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
  Add New Record
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Thanksgiving Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div [hidden]="submitted" style="width: 400px;">  
          <form [formGroup]="thankssaveform" #savethanksgiving (ngSubmit)="saveThanks(saveThanks)">
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Member ID</label>
              <input type="text" class="form-control" formControlName= "member">
              <div class="alert alert-danger" *ngIf="(ThanksMember?.touched) && (ThanksMember?.invalid)"
                  style="margin-top: 5px;">
                  <span *ngIf="ThanksMember!.errors?.required">Member ID is Required</span>
                </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" class="form-control" formControlName= "name">
              <div class="alert alert-danger" *ngIf="(ThanksName?.touched) && (ThanksName?.invalid)"
                  style="margin-top: 5px;">
                  <span *ngIf="ThanksName!.errors?.required">Name is Required</span>
                </div>
            </div>   
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-label">Telephone</label>
              <input type="text" class="form-control" formControlName= "phone">
              <div class="alert alert-danger" *ngIf="(ThanksPhone?.touched) && (ThanksPhone?.invalid)"
                  style="margin-top: 5px;">
                  <span *ngIf="ThanksPhone!.errors?.required">Phone Number is Required</span>
                </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-label">Amount</label>
              <input type="text" class="form-control" formControlName= "amount">
              <div class="alert alert-danger" *ngIf="(ThanksAmount?.touched) && (ThanksAmount?.invalid)"
                  style="margin-top: 5px;">
                  <span *ngIf="ThanksAmount!.errors?.required">Amount is Required</span>
                </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-label">Branch</label>
              <input type="text" class="form-control" formControlName= "branch">
              <div class="alert alert-danger" *ngIf="(ThanksBranch?.touched) && (ThanksBranch?.invalid)"
                  style="margin-top: 5px;">
                  <span *ngIf="ThanksBranch!.errors?.required">Branch is Required</span>
                </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-label">Date</label>
              <input type="date" class="form-control" formControlName= "date">
              <div class="alert alert-danger" *ngIf="(ThanksDate?.touched) && (ThanksDate?.invalid)"
                  style="margin-top: 5px;">
                  <span *ngIf="ThanksDate!.errors?.required">Date is Required</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<form layout-align='center center' layout='column' style="display: flex">
  <div class="form-group" style=" margin-left: auto;">
      <input type="text" class="form-group" placeholder="Search..." [(ngModel)]="term" [ngModelOptions]="{standalone: true}" >
    </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Member ID</th>
      <th scope="col">Name</th>
      <th scope="col">Telephone</th>
      <th scope="col">Amount</th>
      <th scope="col">Branch</th>
      <th scope="col">Date</th>
      <th  scope="col">Edit</th>
      <th  scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let thanks of thanksgivings| paginate:{itemsPerPage: 10, currentPage:p} | filter: term ,let i = index ">
      <th scope="row">{{i+1}}</th>
      <td>{{ thanks.member }}</td>
      <td>{{ thanks.name }}</td>
      <td>{{ thanks.phone }}</td>
      <td>{{ thanks.amount }}</td>
      <td>{{ thanks.branch }}</td>
      <td>{{ thanks.date }}</td>
      <td><button data-toggle="modal" data-target="#exampleModal2" class="btn alert-success" (click)="updateThanksgiving(thanks.id)">Edit</button></td>
      <td><button class="btn alert-danger" (click)="deleteThanks(thanks.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
<div id="pagination" >
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div> 
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngFor="let thanks of thanksgivings">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{thanks.id}}
      <form [formGroup]="thanksupdateform" #updatethanksgiving (ngSubmit)="updateThanksgivings(thanks.id)"> 
      <div class="modal-header" >      
        <h5 class="modal-title" id="exampleModalLabel">Edit Thanksgiving Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body" *ngFor="let give of thankslist">          
      
          <div [hidden]="isupdated" > 
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Member ID</label>
              <input type="text" class="form-control" formControlName= "member" [(ngModel)]="give.member">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" class="form-control" formControlName= "name" [(ngModel)]="give.name">
            </div>   
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-label">Telephone</label>
              <input type="text" class="form-control" formControlName= "phone" [(ngModel)]="give.phone">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-label">Amount</label>
              <input type="text" class="form-control" formControlName= "amount" [(ngModel)]="give.amount">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-label">Branch</label>
              <input type="text" class="form-control" formControlName= "branch" [(ngModel)]="give.branch">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-label">Date</label>
              <input type="date" class="form-control" formControlName= "date" [(ngModel)]="give.date">
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div [hidden]="!isupdated">  
          <h4>Thanksgiving Detail Updated!</h4>  
      </div>   
      </div>  
    </form> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="changeisUpdate()">Close</button>
      </div>   
  </div>
</div>
</div>
<button style=" margin-left: auto; display: flex;" class="btn btn-success">View ThanksGiving Reports</button>