<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container justify-content">
<form>
  <div class="row justify-content">
    <div class="col-md-4 col-md-offset-4">
    <div class="form-group">
    <label>ENTER ROLE</label>
        <input type="text"  class="form-control" required autofocus>
    </div>
    <div class="form-group">
      <label>ENTER BRANCH</label>
          <input type="text"  class="form-control" required autofocus>
      </div>
      <div class="form-group">
        <label>ENTER PASSWORD</label>
            <input type="password"  class="form-control" required autofocus>
        </div>
    <button type="submit" routerLink="../dashboard"  class="btn btn-primary btn-block">Login</button>
    </div>
    </div>
 <br> <a  routerLink="../register">Not Registered? Register</a>
</form>
</div>